
@media only screen and (max-device-width: 800px) {
    /* For desktop: */
  
  section{
  grid-column: 3 / -1;
  grid-template-columns: repeat(2, 1fr);
  }
  article{
  text-align: center;
  }
  aside{
  grid-column: 1 / -1;
  }
  
  body {
    background-color: orange;
  }
}


@media only screen and (max-device-width: 480px) {
    /* For desktop: */
  
  nav{
  grid-column: 1 / -1;
  }
  section{
  grid-column: 1 / -1;
  grid-template-columns: repeat(1, 1fr);
  }
  article{
  text-align: center;
  }
  aside{
  grid-column: 1 / -1;
  }
  body {
    background-color: orange;
  }
}